@import './configs/common.scss';

* {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $pageFont;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    // transition: all 0.3s ease-in-out;
}

body {
    height: 100vh;
    width: 100vw;

    @include color-combo($secondaryThemeColor, $colorFontPrimary);
}

code {
    font-family: $numberFont;
}
